
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <style>
        /** {
            margin: 0px auto;
        }*/
        html, body {
            height: 100%;
        }

        table, th, td {
            border: 1px solid black;
        }

        table {
            border-spacing: 0px;
        }

        #GameMessage {
            text-align: center;
            opacity: 0.8;
            background-color: white;
            position: absolute;
            left: 0px;
            top: 0px;
            height: 600px;
            width: 600px;
            visibility: hidden;
        }

        #MessageText {
            color: red;
            font-size: 40px;
        }

        #ButtonOK {
            color: red;
            font-size: 40px;
        }
        #interactionLockMask {
            height: 600px;
            width: 600px; 
            opacity: 0.0;
            background-color: white;   
            position: absolute;
            left: 0px;
            top: 0px;    
            visibility: hidden;   
        }
        .dot {
            height: 5px;
            width: 5px;
            background-color: red;
            border-radius: 50%;
            position: fixed;
            top: 235px;
            left: 235px;
        }
    </style>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <title>JSW's Gomoku</title>
</head>
<body>
    <div id="wholeBody">
        <div>
            <span class="dot"></span>
            <table id="TheBoard" style="width: 450px; height: 450px">
                @{
                    for (int row = 0; row < 15; row++)
                    {
                        <tr height="6%">
                            @for (int col = 0; col < 15; col++)
                            {
                                <td id="@(row + "+" + col)" width="6%" >@*@row,@col*@</td>
                            }
                        </tr>
                    }
                }
            </table>
        </div>
        <div id="GameMessage">
            <p id="MessageText">Hello wolrd!</p>
            <button type="button" id="ButtonOK">OK</button>
        </div>
        <div id="interactionLockMask">
        </div>
    </div>
    <script>
        chessCounter = 0;
        interactionLock = 0;
        function PutChessByObj(e) {
            if (chessCounter % 2 == 0) {
                $(e).css("background", "url('/Images/BlackChess.png') no-repeat");
                $(e).css("background-size", "cover");
            }
            else {
                $(e).css("background", "url('/Images/WhiteChess.png') no-repeat");
                $(e).css("background-size", "cover");
            }
            chessCounter++;
        }

        function PutChessByXY(y, x) {
            $('#TheBoard td').css('border-color', 'black');
            var td = document.getElementById(y + "+" + x);
            $(td).css('border-style', 'solid');
            $(td).css('border-color', 'red');
            $(td).css('border-width', '1px');
            PutChessByObj(td);
        }

        $(document).ready(function () {
            $.ajaxSetup({ cache: false });
            $('#TheBoard td').on("click",
            function () {
                if ("" == this.style["background-image"]) {
                    $('#interactionLockMask').css('visibility', 'visible');
                    PutChessByObj(this);
                    var args = this.id.split("+");
                    $.getJSON("/Gomoku/AI",
                        { posY: args[0], posX: args[1] },
                        function (data) {
                            PutChessByXY(data.yAI, data.xAI);
                            if (99 == data.flag) {
                                $('#GameMessage #MessageText').text(data.message);
                                $('#GameMessage').css('visibility', 'visible');
                            }
                            else if (-99 == data.flag) {
                                $('#GameMessage #MessageText').text(data.message);
                                $('#GameMessage').css('visibility', 'visible');
                            }
                            $('#interactionLockMask').css('visibility', 'hidden');
                        }
                    );
                }
            });
            $('#ButtonOK').on("click", function () {
                location.reload();
            });
        });
    </script>
</body>
</html>
